{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h2>ABOUT THE GAME</h2>
    <p>Discover the history behind one of the world's favourite word games!</p><br>



      <div class="row row-cols-1 row-cols-md-1">
        <div class="col mb-5">
          <div class="card">
            <h5 class="card-header">It began with a crash.</h5>
            <div class="card-body">
              <p class="card-text">
                There were many victims of America's Great Depression in 1929. But in 1933 an out of work architect named Alfred Mosher Butts 
                invented a game that would lift the spirits of millions.<br><br>

                Hailing from Poughkeepsie, New York, Butts had taken to analyzing popular games, defining three different categories: number games, 
                such as dice and bingo; move games, such as chess and checkers; and word games, such as anagrams. He also noted, "...there is one 
                thing that keeps word games from being as popular as card games: they have no score."<br><br>
                
                Attempting to combine the thrill of chance and skill, Butts entwined the elements of anagrams and the classic crossword puzzle into 
                a scoring word game first called LEXIKO. This was then refined during the early 1930s and 1940s to become CRISS CROSS WORDS.<br>
                </p>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card">
            <h5 class="card-header">The SCRABBLE game is born!</h5>
            <div class="card-body">
              <p class="card-text">
                Legend has it Butts studied the front page of "The New York Times" to make his calculations for the letter distribution in the game. 
                This skilled, cryptographic analysis of our language formed the basis of the original tile distribution, which has remained constant
                 through almost three generations and billions of games.<br><br>

                Nevertheless, established game manufacturers unanimously slammed the door on Butts' invention. It was only when Butts met James Brunot,
                 a game-loving entrepreneur, that the concept became a commercial reality.<br><br>
                
                Together they refined the rules and design and then, most importantly, came up with the name SCRABBLE - a word defined as 'to grasp, collect, or hold on to something'; and a word that truly captured the essence of this remarkable concept. And so the SCRABBLE Brand Crossword Game was trademarked in 1948.
              </p>
            </div>
          </div>
        </div>
        <div class="col mb-5">
          <div class="card">
            <h5 class="card-header">Game on!</h5>
            <div class="card-body">
              <p class="card-text">
                Like chess and bridge, competitive SCRABBLE game play is hugely popular and continues to add players every year.<br><br>

                Each year, the North American SCRABBLE Players Association (NASPA) hosts a National SCRABBLE Championship in a major U.S. city. 
                The tournament attracts more than 500 highly-skilled and competitive adult SCRABBLE players who compete in 31 rounds of one-on-one 
                play over a five day period.<br><br>
                
                The NASPA has thousands of players with official tournament ratings who compete in weekly competitions at sanctioned clubs across 
                the U.S. and Canada. You can get involved and find out more about the NASPA by visiting <a style="color: black; text-decoration: underline;" href="scrabbleplayers.org">scrabbleplayers.org</a>.
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col mb-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div> -->
      </div>
{% endblock %}